.btn {
    margin-right: 10px;
    background-color:dodgerblue;
    color: white;
    width: 60px;
    height: 30px;
    border-radius: 4px;
}

.btn:hover {
    background-color:blue;
    box-shadow: 0 0 5px rgba(33, 33, 33, .8);;
}